<!DOCTYPE html>
<html>
  <head>
    <title>Pirate!</title>
  </head>
  <body>
    <div class="pirate">
        <h2>Pirate Name: <%= @pirate.name %></h3>
        <h4>Weight: <%= @pirate.weight %></h4>
        <h4>Height: <%= @pirate.height %></h4>
    </div><br>


    <h3>Pirate Ships</h3>

    <% @ships.each_with_index do |ship, index| %>
        <div class="ship">
            <h4>Ship <%=index + 1%>:</h4>
            <p>Name: <%= ship.name %></p>
            <p>Type: <%= ship.type %></p>
            <p>Booty: <%= ship.booty %></p>
        </div><br>
    <%end%>
    </body>
</html>
